body {
  margin: 0px;
}

footer {
 min-height: 200px;
 background-color: #8EB7DB;
}

input[type="text"], input[type="email"], textarea, select, button {
  display: block;
  margin: 10px 0px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-style: italic;
  border-color: #7C3F73;
  border: 0px;
  background-color: #DFEBF4;
}

textarea {
  height: 175px;
  font-style: italic;
}

label {
  font-weight: bold;
}

ul {
  margin-left: 50px;
  list-style-image: url(../afbeeldingen/check.png);
}

p a {
  font-weight: bold;
  text-decoration: none;
  color: #518FC8;
}

p a:hover {
  text-decoration: underline;
  color: #518FC8;
}

.navbar {
 min-height: 90px;
 font-size: 20px;
}

.navbar-collapse {
 margin-left: 50px;
}

.nav-link.active {
  font-weight: inherit;
}

.bg-light {
   background-color: #8EB7DB!important;
   font-weight: bold;
}

.intro {
 margin-top: 25px;
}

.card {
 margin-bottom: 25px;
 background-color: #dfebf4;
}

.btn {
 border-radius: 0px;
 background-color: #5A9696;
 border: none;
}

.btn:hover {
 background-color: #85B6B6;
}

.alert {
 width: 90%;
 margin-left: auto;
 margin-right: auto;
 margin-top: 50px;
 background-color: #dfebf4;
}

.alert a {
 color: inherit;;
 font-weight: bold;
 text-decoration: none;
}

.alert a:hover {
 color: inherit;;
 font-weight: bold;
 text-decoration: underline;
}
